@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

nav {
    height: 80px;
    background: #000;
}

nav .container {
    margin: 0 auto;
    max-width: 1100px;
}

nav .navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px 0 50px;
    height: 100%;
}

nav .logo a {
    font-size: 30px;
    color: #fff;
    font-weight: 700;

}

nav .menu ul {
    display: flex;
}

nav .menu ul li {
    list-style: none;
    margin: 0 10px;
}

nav .menu ul li a {
    font-size: 18px;
    color: #fff;
    font-weight: 400;
    transition: all 400ms;
}

nav .menu ul li a:hover {
    padding: 10px;
    background: #fff;
    color: #000;
    border: none;
    outline: none;
    border-radius: 5px;
    font-weight: 500;
}